
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.grid{
    display: grid;
    grid-template-columns: 20% 80%;
}
.sidebar{
    background-color: dodgerblue;
    height: 100vh;
    color: white;
   
}
.main{
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;
}
.header{
    display: flex;
    flex-direction: column;

}
.navbar, .left{
    display: flex;
    flex-direction: row;
    align-items: center;
   
}
.welcome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
.right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin-right: 30px;
}
.btn{
    background-color: dodgerblue;
    width: 80px;
    height: 30px;
    border: 1px solid dodgerblue;
    border-radius: 20px;
}
.form-input{
    width: 500px;
    background-color: lightgray;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin:  20px;
    margin-left: 20px;
    margin-right: 150px;
}
.welcome{

}
.content{
    background-color:darkgray;
    display: grid;
    grid-template-columns: 75% 25%;
}
.cards{
    display: grid;
    grid-template-columns: 50% 50%;
}
.card{
    background-color: white;
    border: 1px solid whitesmoke;
    border-left: 4px solid yellow;
    border-radius: 10px;
    width:80%;
    height: 120px;
    margin: 15px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
}
h6{
    font-size: 17px;
}
.card p{
    font-size: 14px;
    margin: 10px, 0px;
}
h5{
    margin-left: 25px;
    margin-top: 10px;
}
.logo-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icon-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 40px;


}
img{
    height: 15%;
    width: 15%;
}
.icon-text p{
    margin-left: 15px;
    font-size: 15px;

    }
 .list-items-bottom{
        margin-top: 60px;
    }
.ann-trend{
    display: grid;
    grid-template-rows: 50% 50%;
}
.ann-cards,.trend-cards{
    height: 80%;
    width: 90%;
    margin-left: 0px;
    background-color: white;
    border-radius: 10px;
}
.ann-text{
    padding: 5px 5px;
}
.ann-text h6{
    font-size: 12px;
}
.ann-text p{
    font-size: 12px;
}
.divider{
    border: 0.5px solid black;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: 20px;
}
.trend-image-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 20px;
}
.trend-text h6{
    font-size: 14px;
}
.trend-text p{
    font-size: 12px;
}


